[core]
	editor = emacs
[user]
	name = Artyom Shandrakov
	email = ashandrakov@qulix.com
[alias]
    st = status
    co = commit 
    cm = commit -m
    ch = checkout
    cf = checkout -f
    cb = checkout -b
    br = branch
    bv = branch -vv
    user = config user.name
    email = config user.email
    lrc = log --branches --not --remotes
    lc = log --name-status HEAD^..HEAD
    fp = format-patch 
    undo = reset --soft HEAD~
    review = push origin refs/heads/master:refs/for/master    
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    fdiff = diff-tree --no-commit-id --name-only -r
